In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

from datetime import datetime
from datetime import date

# The plot module for graphs
import matplotlib.pyplot as plt
%matplotlib inline

# The statistical module for statistical analysis
import scipy.stats as stats

import warnings
warnings.filterwarnings('ignore')

In [18]:
# File to Load (Remember to Change These)
weather_data_to_load = "clean_weather_1-1-2016_to_8-31-2020.csv"
crime_data_to_load = "crime_cleaned.csv"

# Read School and Student Data File and store into Pandas DataFrames
weather_data = pd.read_csv(weather_data_to_load)
crime_data = pd.read_csv(crime_data_to_load,usecols = ['Occurrence_date','OFFENSE_TYPE_ID','OFFENSE_CATEGORY_ID','INCIDENT_ID'])

In [34]:
weather_data['weather_date'] = pd.to_datetime(weather_data['Date'])
print(len(weather_data))
weather_data.info()

1705
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1705 entries, 0 to 1704
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           1705 non-null   int64
 1   Date                 1705 non-null   object
 2   Avg temperature (F)  1705 non-null   int64
 3   Precip Inches        1705 non-null   float64
 4   Cloud Cover          1705 non-null   float64
 5   Wind Speed(Miles)    1705 non-null   float64
 6   weather_date         1705 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 93.4+ KB

In [21]:
print(len(crime_data))
crime_data.head()

108611

,Occurrence_date,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,INCIDENT_ID
0,1/1/2016,aggravated-assault,aggravated-assault,10
1,1/1/2016,aggravated-assault-dv,aggravated-assault,2
2,1/1/2016,assault-dv,other-crimes-against-persons,7
3,1/1/2016,assault-police-simple,other-crimes-against-persons,2
4,1/1/2016,assault-simple,other-crimes-against-persons,5

In [30]:
crime_data['crime_date'] = pd.to_datetime(crime_data['Occurrence_date'])
crime_data.info()



        
#crime_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108611 entries, 0 to 108610
Data columns (total 5 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Occurrence_date      108611 non-null  object
 1   OFFENSE_TYPE_ID      108611 non-null  object
 2   OFFENSE_CATEGORY_ID  108611 non-null  object
 3   INCIDENT_ID          108611 non-null  int64
 4   crime_date           108611 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 4.1+ MB

In [36]:
# Combine the data into a single dataset.  
#inner merge intentionally drops days that do not match in both data sets to avoid NaN records
criminal_weather_merged = pd.merge(crime_data, weather_data, left_on = 'crime_date',right_on = 'weather_date')
criminal_weather_merged

,Occurrence_date,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,INCIDENT_ID,crime_date,Unnamed: 0,Date,Avg temperature (F),Precip Inches,Cloud Cover,Wind Speed(Miles),weather_date
0,1/1/2016,aggravated-assault,aggravated-assault,10,2016-01-01,0,2016-01-01,11,0.0,2.000,3.375,2016-01-01
1,1/1/2016,aggravated-assault-dv,aggravated-assault,2,2016-01-01,0,2016-01-01,11,0.0,2.000,3.375,2016-01-01
2,1/1/2016,assault-dv,other-crimes-against-persons,7,2016-01-01,0,2016-01-01,11,0.0,2.000,3.375,2016-01-01
3,1/1/2016,assault-police-simple,other-crimes-against-persons,2,2016-01-01,0,2016-01-01,11,0.0,2.000,3.375,2016-01-01
4,1/1/2016,assault-simple,other-crimes-against-persons,5,2016-01-01,0,2016-01-01,11,0.0,2.000,3.375,2016-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...
86043,9/9/2019,traf-other,all-other-crimes,6,2019-09-09,1347,2019-09-09,78,0.0,15.625,5.000,2019-09-09
86044,9/9/2019,vehicular-eluding-no-chase,all-other-crimes,2,2019-09-09,1347,2019-09-09,78,0.0,15.625,5.000,2019-09-09
86045,9/9/2019,violation-of-court-order,all-other-crimes,4,2019-09-09,1347,2019-09-09,78,0.0,15.625,5.000,2019-09-09
86046,9/9/2019,violation-of-restraining-order,all-other-crimes,2,2019-09-09,1347,2019-09-09,78,0.0,15.625,5.000,2019-09-09
86047,9/9/2019,weapon-by-prev-offender-powpo,all-other-crimes,1,2019-09-09,1347,2019-09-09,78,0.0,15.625,5.000,2019-09-09